.download-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-left: 30px;
}

.download-page h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.filter-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between elements */
  margin-bottom: 20px; /* Space below the section */
}

.view-button button,
.manager-filter button,
.executive-filter button,
.download-button button{
  display: inline;
  color:#ffffff;
  background-color: #06910b;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid white ;
  padding: 10px 15px;
  cursor: pointer; 
}
.view-button button,
.download-button button{
  margin-left: 10px;
}

.manager-filter select{
  font-size: 18px;

  margin-right: 5px; 
}

.executive-filter select{
 
  font-size: 18px;
  margin-right: 5px;
  margin-top: px;
}

.button-group, .search-box {
  margin-bottom: 20px;
}

.button-group button, .search-box button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #06910b;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.button-group button:hover, .search-box button:hover {
  background-color: #263fe2;
}

.search-box {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 350px;
}

.search-box input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.download-page table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.download-page table th,
.download-page table td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.download-page table th {
  background-color: #ccc6c6;
}

.download-page mark {
  background-color: yellow;
  color: black;
}

@media (max-width: 768px) {
  .search-box, .button-group {
    position: static;
    width: auto;
  }

  .search-box input[type="text"], .button-group button {
    width: 100%;
    margin-bottom: 10px;
  }

  .download-page table th, .download-page table td {
    padding: 6px;
    font-size: 14px;
  }
}
