.payment-details-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.payment-details-page h2 {
  text-align: center;
}

.customer-info {
  margin-bottom: 20px;
}

.customer-info p {
  margin: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

button {
  padding: 10px 20px;
  background-color: #017e05;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 17px;
  border-radius: 12px;
}

button:hover {
  background-color: #14ab0f;
}
